/* ===== ГЛОБАЛЬНЫЙ КОНТЕЙНЕР ===== */
/* .app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background: rgb(17, 35, 54);
} */

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background: #f0f2f7;
}
/* ===== КОНТЕЙНЕР ДЛЯ СТРАНИЦЫ ЛОГИНА ===== */
.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* ===== КОНТЕЙНЕР ДЛЯ ВСЕХ ОСТАЛЬНЫХ СТРАНИЦ ===== */
.dashboard-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
